[alias]
    co     = checkout
    ci     = commit
    l      = log --stat
    b      = branch
    st     = status
    sh     = show
    # 'git plog -p' to show codes changed
    plog   = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[diff]
	color = auto
